<div>
    <br>
    <div class="container">
        <div class="card" style="max-width: 100%; height:auto;">
            <div class="card">
                <div class="card-header">
                    <h2 style="text-align: left;"><i class="fa fa-id-card" aria-hidden="true" style="color:rgb(40, 218, 170);"></i> Profile</h2>
                </div>
                <div class=" card-body ">
                    <div class=" image d-flex flex-column justify-content-center align-items-center ">
                        <img [src]="dataUser[0].img" height="auto" width="200">
                        <span class="name mt-3 ">{{dataUser[0].name}}</span>
                        <span class="idd ">{{dataUser[0].email}}</span>

                        <a routerLink="/edit" routerLinkActive="active" href="#">Edit Profile</a>

                    </div>
                </div>
                <div class="card-footer">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="my-img-tab" data-bs-toggle="tab" data-bs-target="#nav-img" type="button" role="tab" aria-controls="nav-img" aria-selected="true">My Image</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Favorites</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-img" role="tabpanel" aria-labelledby="my-img-tab">
                            <br>
                            <app-my-images [images]="dataUser[0].ima_all"></app-my-images>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <br>
                            <app-favorites [images]="dataUser[0].ima_all"> </app-favorites>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
