@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2:wght@400;500&family=Do+Hyeon&family=Fredoka+One&family=IBM+Plex+Sans+Thai&family=Jua&family=Mitr:wght@300;400;500&family=Press+Start+2P&family=Pridi:wght@300&family=Rampart+One&family=Righteous&family=Special+Elite&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2:wght@400;500&family=Do+Hyeon&family=IBM+Plex+Sans+Thai&family=Jua&family=Mitr:wght@200&family=Press+Start+2P&family=Rampart+One&family=Righteous&family=Special+Elite&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2:wght@400;500&family=Do+Hyeon&family=IBM+Plex+Sans+Thai&family=Jua&family=Mitr:wght@200;400;500&family=Press+Start+2P&family=Rampart+One&family=Righteous&family=Special+Elite&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2:wght@400;500&family=Cabin+Sketch:wght@700&family=Carter+One&family=Concert+One&family=Do+Hyeon&family=Fredoka+One&family=Gugi&family=IBM+Plex+Sans+Thai&family=Itim&family=Jua&family=Kosugi+Maru&family=Mitr:wght@300;400&family=Monda&family=Press+Start+2P&family=Pridi&family=Rampart+One&family=Righteous&family=Special+Elite&family=Stick+No+Bills&family=Viga&display=swap');
.card-header {
    font-family: 'Fredoka One', cursive;
}

.card-body {
    font-family: 'Mitr', sans-serif;
}

.nav-tabs {
    font-family: 'Fredoka One', cursive;
}

.tab-content {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #e5ececea;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(208, 223, 222, 0.5), rgba(143, 211, 244, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(205, 211, 210, 0.5), rgba(143, 211, 244, 0.5))
}