<!-- <p>home works!</p> -->

<!-- <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let post of postIma" class="col">
                <div class="card" style="width: 100%;">
                    <img src="{{post.imaUrl}}" class="card-img-top" alt="{{post.imaName}}">
                    <div class="card-body">
                        <h5 class="card-title">{{post.imaName}}</h5>
                        <p class="card-text">{{post.imaDetail}}</p>
                        <button type="button" class="btn btn-secondary">
                        <i class="fa fa-plus-square"></i>
                    </button>
                        <button type="button" class="btn btn-sm float-end" [ngClass]="{'btn-danger': post.like, 'btn-light': !post.like}" (click)="onClick(post)">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
</div>-->


<!-- <a [routerLink]="['/ima/0']" outerLinkActive="active" class="nav-link active">กดสิที่1</a>
<a [routerLink]="['/ima/1']" outerLinkActive="active" class="nav-link active">กดสิที่2</a> -->
<div class="container">
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let item of images | filter:searchKey:'name'; index as i ">
            <div class="card" style="width: 100%;">
                <a routerLink="/ima/{{item._id}}" routerLinkActive="active" class="nav-link active">
                    <img [src]="item.imagePath" class="card-img-top" alt="{{item.imagePath}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.details}}</p>
                    <button type="button" class="btn btn-secondary">
                            <i class="fa fa-plus-square"></i>
                    </button>
                    <button type="button" class="btn btn-sm float-end">
                        <i class="fa fa-heart " aria-hidden="true "></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
